# common
aiohttp
apscheduler<3.11
pillow
telethon

# optional, but a large speed-up for MTProto crypto:
# cryptg

# crawl -- only needed by `python -m gacha.refresh`
tqdm
requests
beautifulsoup4

# stock
chinesecalendar
